In [1]:
# ls

In [2]:
import altair as alt

In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv("./GLB.Ts_dSST.csv")

In [5]:
data

                                                                                          Land-Ocean: Global Means
Year Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec  J-D  D-N  DJF  MAM  JJA                       SON
1880 -.29 -.18 -.11 -.19 -.11 -.23 -.21 -.09 -.16 -.23 -.20 -.23 -.19 ***  ***  -.14 -.18                     -.20
1881 -.15 -.17 .04  .04  .02  -.20 -.06 -.02 -.13 -.20 -.21 -.10 -.10 -.11 -.18 .03  -.09                     -.18
1882 .15  .15  .04  -.18 -.16 -.26 -.20 -.05 -.10 -.24 -.16 -.24 -.10 -.09 .06  -.10 -.17                     -.17
1883 -.31 -.39 -.13 -.17 -.20 -.12 -.08 -.15 -.20 -.14 -.22 -.16 -.19 -.20 -.31 -.16 -.12                     -.19
...                                                                                                            ...
2013 .66  .55  .66  .52  .57  .65  .57  .65  .76  .67  .78  .65  .64  .63  .58  .58  .63                       .74
2014 .73  .52  .76  .77  .85  .66  .56  .80  .88  .81  .66  .78  .73  .72  .63  .79  .67                       .78
2015 .81  .87  .90  .74  .75  .79  .71  .79  .81  1.07 1.02 1.10 .86  .84  .82  .80  .76                       .97
2016 1.15 1.34 1.30 1.07 .90  .78  .82  .99  .87  .89  .90  .82  .99  1.01 1.19 1.09 .86                       .88
2017 .96  1.11 1.13 .93  .88  .70  .81  .86  .74  .88  .87  .89  .90  .89  .96  .98  .79                       .83

[139 rows x 1 columns]

In [6]:
data.head()

                                                                                          Land-Ocean: Global Means
Year Jan  Feb  Mar  Apr  May  Jun  Jul  Aug  Sep  Oct  Nov  Dec  J-D  D-N  DJF  MAM  JJA                       SON
1880 -.29 -.18 -.11 -.19 -.11 -.23 -.21 -.09 -.16 -.23 -.20 -.23 -.19 ***  ***  -.14 -.18                     -.20
1881 -.15 -.17 .04  .04  .02  -.20 -.06 -.02 -.13 -.20 -.21 -.10 -.10 -.11 -.18 .03  -.09                     -.18
1882 .15  .15  .04  -.18 -.16 -.26 -.20 -.05 -.10 -.24 -.16 -.24 -.10 -.09 .06  -.10 -.17                     -.17
1883 -.31 -.39 -.13 -.17 -.20 -.12 -.08 -.15 -.20 -.14 -.22 -.16 -.19 -.20 -.31 -.16 -.12                     -.19

In [7]:
data.columns.values.tolist()

['Land-Ocean: Global Means']

In [8]:
type(data['Land-Ocean: Global Means'
    ])

pandas.core.series.Series

In [9]:
ser = data[data.columns.values.tolist()[0]]

In [10]:
data1 = pd.DataFrame()

In [11]:
ser.shape

(139,)

In [12]:
data_fr_ser = pd.DataFrame(data['Land-Ocean: Global Means'])

In [13]:
data_fr_ser = pd.DataFrame(columns=ser.index[0])

In [14]:
data_fr_ser

Empty DataFrame
Columns: [Year, Jan, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dec, J-D, D-N, DJF, MAM, JJA]
Index: []

In [15]:
data3 = pd.DataFrame(data=ser, columns=["Year"])

In [16]:
data3

Empty DataFrame
Columns: [Year]
Index: []

In [17]:
ser.T.index.tolist()[0]

('Year',
 'Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec',
 'J-D',
 'D-N',
 'DJF',
 'MAM',
 'JJA')

In [18]:
ser.axes

[MultiIndex([('Year',  'Jan',  'Feb',  'Mar',  'Apr',  'May',  'Jun', ...),
             ('1880', '-.29', '-.18', '-.11', '-.19', '-.11', '-.23', ...),
             ('1881', '-.15', '-.17',  '.04',  '.04',  '.02', '-.20', ...),
             ('1882',  '.15',  '.15',  '.04', '-.18', '-.16', '-.26', ...),
             ('1883', '-.31', '-.39', '-.13', '-.17', '-.20', '-.12', ...),
             ('1884', '-.15', '-.08', '-.37', '-.42', '-.36', '-.40', ...),
             ('1885', '-.58', '-.30', '-.25', '-.42', '-.42', '-.44', ...),
             ('1886', '-.42', '-.45', '-.38', '-.27', '-.26', '-.38', ...),
             ('1887', '-.72', '-.52', '-.34', '-.38', '-.32', '-.23', ...),
             ('1888', '-.37', '-.36', '-.41', '-.22', '-.22', '-.18', ...),
             ...
             ('2008',  '.23',  '.34',  '.73',  '.51',  '.47',  '.45', ...),
             ('2009',  '.61',  '.50',  '.52',  '.59',  '.65',  '.65', ...),
             ('2010',  '.73',  '.80',  '.92',  '.85',  '.73',  '.62', ...),
             ('2011',  '.49',  '.51',  '.62',  '.62',  '.50',  '.56', ...),
             ('2012',  '.45',  '.47',  '.56',  '.67',  '.74',  '.62', ...),
             ('2013',  '.66',  '.55',  '.66',  '.52',  '.57',  '.65', ...),
             ('2014',  '.73',  '.52',  '.76',  '.77',  '.85',  '.66', ...),
             ('2015',  '.81',  '.87',  '.90',  '.74',  '.75',  '.79', ...),
             ('2016', '1.15', '1.34', '1.30', '1.07',  '.90',  '.78', ...),
             ('2017',  '.96', '1.11', '1.13',  '.93',  '.88',  '.70', ...)],
            length=139)]

In [19]:
arr = np.array(ser.index[1:])

In [21]:
somedata = pd.DataFrame(data = ser.index.tolist()[1:], columns=ser.index.tolist()[0])

In [22]:
somedata

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,J-D,D-N,DJF,MAM,JJA
0,1880,-.29,-.18,-.11,-.19,-.11,-.23,-.21,-.09,-.16,-.23,-.20,-.23,-.19,***,***,-.14,-.18
1,1881,-.15,-.17,.04,.04,.02,-.20,-.06,-.02,-.13,-.20,-.21,-.10,-.10,-.11,-.18,.03,-.09
2,1882,.15,.15,.04,-.18,-.16,-.26,-.20,-.05,-.10,-.24,-.16,-.24,-.10,-.09,.06,-.10,-.17
3,1883,-.31,-.39,-.13,-.17,-.20,-.12,-.08,-.15,-.20,-.14,-.22,-.16,-.19,-.20,-.31,-.16,-.12
4,1884,-.15,-.08,-.37,-.42,-.36,-.40,-.34,-.26,-.27,-.24,-.30,-.28,-.29,-.28,-.13,-.39,-.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,2013,.66,.55,.66,.52,.57,.65,.57,.65,.76,.67,.78,.65,.64,.63,.58,.58,.63
134,2014,.73,.52,.76,.77,.85,.66,.56,.80,.88,.81,.66,.78,.73,.72,.63,.79,.67
135,2015,.81,.87,.90,.74,.75,.79,.71,.79,.81,1.07,1.02,1.10,.86,.84,.82,.80,.76
136,2016,1.15,1.34,1.30,1.07,.90,.78,.82,.99,.87,.89,.90,.82,.99,1.01,1.19,1.09,.86
137,2017,.96,1.11,1.13,.93,.88,.70,.81,.86,.74,.88,.87,.89,.90,.89,.96,.98,.79

In [23]:
data = somedata[["Year", "J-D"]].copy()

In [24]:
data =data.astype({"Year":int, "J-D":float})

In [25]:
min_temp = data["J-D"].min()

In [26]:
mean_tem = data.loc[data["Year"].isin(range(1880,1899))]["J-D"].mean()
mean_tem

-0.23105263157894734

In [27]:
yr_range = [data["Year"].min(), data["Year"].max()]
temp_range = [data["J-D"].min() - abs(data["J-D"].min()*0.15),
              data["J-D"].max() + abs(data["J-D"].max()*0.15)]

base = alt.Chart(data).mark_circle(color='#f26c08', 
                                   stroke='black',
                                   strokeWidth=1,
                                   size=50
).encode(
    alt.X("Year:Q", scale=alt.Scale(domain=yr_range),axis=alt.Axis( title="", tickCount=12, labelOpacity=0.7,gridOpacity=0.7)), 
    alt.Y("J-D:Q", scale=alt.Scale(domain=temp_range),axis=alt.Axis( title="", tickCount=7, labelOpacity=0.7,gridOpacity=0.7)) 
)

text = (
    alt.Chart(data.loc[data["Year"].isin([1944,2014,2015,2016,2017])])
    .mark_text(dy=0,dx=20, color="black")
.encode(
    alt.X("Year:Q", scale=alt.Scale(domain=yr_range)),
    y="J-D:Q", text=alt.Text("Year:Q"))
)

text_left = (
    alt.Chart(data.loc[data["Year"].isin([1904,1998])])
    .mark_text(dy=0,dx=-20, color="black")
.encode(
    alt.X("Year:Q", scale=alt.Scale(domain=yr_range)),
    y="J-D:Q", text=alt.Text("Year:Q"))
)
big_text = alt.Chart(
    pd.DataFrame({'y': [mean_tem], 'x':[2000]})
).mark_text(
    text="HOTTER THAN THE\n 1880-1899 AVERAGE", 
    color='grey', fontSize=14, lineBreak='\n', 
    align='left', baseline='middle', dy=-30
).encode(x="x:Q", y="y:Q")
big_text2 = alt.Chart(
    pd.DataFrame({'y': [mean_tem], 'x':[2000]})
).mark_text(
    text="COLDER", 
    color='grey', fontSize=14, lineBreak='\n', 
    align='left', baseline='middle', dy=10
).encode(x="x:Q", y="y:Q")

line = alt.Chart(pd.DataFrame({'y': [mean_tem]})).mark_rule(color='grey').encode(y='y')

In [28]:
res = (base+text+text_left+line+big_text+big_text2
      ).configure_axis(
labelColor="grey"
).properties(width = 957, height=604, padding={"left": 15, "top": 10, "right": 10, "bottom": 40})

res

In [29]:
res

alt.LayerChart(...)